 nav {
     display: flex;
     justify-content: space-around;
     align-items: center;

     background-color: rgb(94, 40, 23);
     font-family: 'Times New Roman', Times, serif;
     color: white;
     border-radius: 25px;
    text-decoration:dotted

 }

body {
     background-color: rgb(114, 41, 18);
     margin: 15px;
 }

