 nav {
     display: flex;
     justify-content: space-around;
     align-items: center;

     background-color: rgb(94, 40, 23);
     font-family: 'Times New Roman', Times, serif;
     color: white;
     border-radius: 25px;
    text-decoration:dotted

 }

body {
     background-color: rgb(114, 41, 18);
     margin: 15px;
     background-image: url(assets/360_F_517797721_4KUp8uUozfe6A8t2c1Sx1rUflitg1RRQ.jpg);
 }

a{
    color: white;
    text-decoration: none;
}

input, select{
    width: 101%;
    padding: 8px;
    margin: 8px 0 15px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}



input[type="radio"] {
    width: auto;
    margin-right: 5px;
}

button {
    margin-bottom: 10px;
    height: 150px;
    width: 100%;
    padding: 10px;
    background-color: #6da798;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background-color: #695dd6;
}

#resultado {
    margin-top: 20px;
    font-weight: bold;
    color: green;
    text-align: center;
}

main {
    background-color: white;
    padding: 25px;
    border-radius: 25px;
    margin: 50px;
    
}

.card {
width: 100px;

}

img {
    height: 200px;
}